body {
	padding: 20px;
}

ul {
	list-style: none;
}

#movies {
	padding: 0;
}

#movies > li {
	margin: 15px 0;
	padding: 20px;
	border: 1px solid black;	
}

#movies h3 {
	margin: 0;
	padding-bottom: 10px;
}

.actors {
	padding: 0;
	display: inline;
}

.actors li {
	display: inline;
}

.reviews {
	float: right;
}

#search {
	padding: 5px;
	border-radius: 20px;
}

.error {
	color: red;
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */