<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	
	<title>MovieRama</title>
	
	<link th:href="@{/css/movierama.css}" rel="stylesheet" href="../css/movierama.css" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"/>
	
</head>

<body>

	<h1>MovieRama</h1>

	<form class="form-horizontal" th:object="${searchDto}"
		th:action="@{/search}" method="post">

		<div class="error" th:if="${#fields.hasAnyErrors()}">
			<p th:each="err : ${#fields.allErrors()}" th:text="${err}">...</p>
		</div>

		<input id="search" th:field="*{query}" placeholder="Search"></input>
	</form>

	<ul id="movies">
		<li class="clearfix" th:each="movie : ${movies}" th:object="${movie}">
			<h3 th:text="*{getTitle()}">Terminator></h3>
			<span th:text="*{getProductionYear()}">1985</span>
			<span> - Starring: </span>
			<ul class="actors">
				<li th:each="actor: *{getActors()}" th:object="${actor}">
				<span th:text="*{name}">Petros</span></li>
			</ul>
			<div th:text="*{getDescription()}">The besterer</div>
			<div class="reviews">
			<span th:text="*{getTotalReviews()}">35</span><span> Reviews</span>
			</div>
		</li>
	</ul>

</body>

</html>
